.btn {
    box-shadow: 5px 3px 2px black;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: auto auto;
}

.square {
    width: 90%;
    border: 2px solid black;
    height: 200px;
}
